{% extends 'fantasyworld/bases/base.html' %}

{% block content %}
{% load static %}

<br>
<h1>The Street League </h1>
<h5>How Do I Play? </h5>

<body>

<p>Have you ever wanted to try to outwager your friends (or public experts) without contributing to their financial woes?  Here's your chance. </p>
<br>

<p> Step 1: join a league -- either a public league open to everyone, or a private league with friends. </p>
<br>
<p> Step 2: start placing bets.  Think the Falcons will win 10 games instead of 7 this year?  Buy their season win total for only $7, and get a $1 payout for each game they actually win.  Think they've become overrated when they start 4-0, and we're pricing them to win 9 more games the rest of the season?  Sell the bet off.  You'll end up with $13 -- $4 for each game they won, and $9 for their rest of season price.</p>
<br>
<p> It's that simple. Grow your bankroll, and whoever ends up with the most money at the end of the season wins.  Or, to really test your skills, join a freeplay league and bet on any lines we have available in the site -- politics, sports, or more as we develop them -- and see how high you can grow your bankroll </p>
<br>
<br>


</body>

{% endblock %}

<link rel="stylesheet" type="text/css" 
href="{% static 'fantasyworld/style.css' %}">