{% extends 'fantasyworld/bases/teampage_header.html' %}

{% block teampage_header %}


<h1>{{league.name}}</h1>

{% if league.is_public or not league.is_public%}
  {% if not user_in_league %}

	<a href="{% url 'fantasyworld:league_join' league.id %}">Join League </a>

  {% endif%}
{% endif %}

{% if league.is_public or user_in_league %}
<h2><u>Standings</u></h2>

<table class="table table-striped" style="margin-top: 5px;">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Rank</th>
      <th scope="col">Stock Portfolio Value</th>
      <th scope="col">Cash</th>
      <th scope="col">Total Value</th>
    </tr>
  </thead>
  <tbody>
  {% for team, team_portfolio_value, team_rank in team_ranks%}
    <tr>
      <th> <a href="{% url 'fantasyworld:team_home' team.id %}"> {{team.user.user}} </a> </th>
      <th> {{team_rank}} </th>
      <th> {{team_portfolio_value}} </th>
      <th> {{team.budget}} </th>
      <th> {{team.budget|add:team_portfolio_value}} </th>
  {% endfor %}
  </tbody>
</table>

<br>

<h2><u>Stocks</u></h2>
  {% if all_stocks %}
  <table class="table table-striped" style="margin-top: 5px;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in all_stocks %}
        <tr>
        <th> <a href="{% url 'fantasyworld:stock_detail' stock.id %}"> {{stock.name}} </a></th>
        <th> {{stock.price}} </th>
        <th> {{stock.stock_type}} </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}

{%endif %}

{% endblock %}
