{% extends 'fantasyworld/bases/base.html' %}

{% block content %}

<h2> League Categories </h2>

<body>



<br>

{% for league_type in league_types %}
<li> <a href= "{% url 'fantasyworld:leaguetype_home' league_type.id %}"> {{league_type.name}} </a> </li>
<ul class="sublist">
	{% for league in leagues %}
		{% if league.league_type == league_type %}
		<li> <a href= "{% url 'fantasyworld:league_home' league.id %}"> {{league.name}} </a> </li>
		{% endif %}
	{% endfor %}
</ul>
{% endfor %}

<li>Politics</li>
<ul class="sublist">
	<li>American Politics</li>
	<ul class="subsublist">
		<li>2020 Presidential Elections</li>
		<li>2020 Congressional Elections</li>
		<li>2020 Gubernatorial Elections</li>
	</ul>
</ul>
<li>Bachelor</li>
<ul class="sublist">
	<li>Bachelorette Season ??</li>
	<li>Bachelor Listen to Your Heart</li>
	<li>Bachlor in Paradise Season ??</li>
	<li>Bachelor Alumni</li>
	<li>Other</li>
</ul>
<li>Esports</li>
<ul class="sublist">
	<li>Super Smash Bros</li>
	<ul class="subsublist">
		<li>Melee</li>
		<li>Brawl</li>
		<li>4</li>
		<li>Ultimate</li>
	</ul>
</ul>
</body>

{% endblock %}