{% extends 'fantasyworld/bases/base.html' %}

{% block content %}

<h1> League Categories </h1>
<body>

<br>

{% for league_type in league_types %}
<li> <a href= "{% url 'fantasyworld:leaguetype_home' league_type.id %}"> {{league_type.name}} </a> </li>
<!--
<ul class="sublist">
	{% for league in leagues %}
		{% if league.league_type == league_type %}
		<li> <a href= "{% url 'fantasyworld:league_home' league.id %}"> {{league.name}} </a> </li>
		{% endif %}
	{% endfor %}
</ul>
-->
{% endfor %}


<li>Bachelor (coming soon)</li>
<li>Esports (coming soon)</li>

</body>

{% endblock %}