{% extends 'fantasyworld/bases/base.html' %}

{% block content %}

<h1>Fantasy {{ leaguetype.name }}</h1>

<h4> How to Play: </h4>

{{ leaguetype.how_to_play | safe}}



<h3> Join a League </h3>


<table class="table table-striped table-sm" style="margin-top: 5px;">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">League </th>
      <th scope="col">Commissioner</th>
      <th scope="col">Number of Teams</th>
    </tr>
  </thead>
  <tbody>
    {% for league in leagues %}
      {% if league.is_public %}
        <tr>
        <th> Public </th>
        <th> <a href ="{% url 'fantasyworld:league_home' league.id %}">{{league.name}}</th>
        <th> ?? </th>
        <th> ?? </th>
        </tr>
      {% endif %}
    {% endfor %}
    {% for league in leagues %}
      {% if not league.is_public %}
        <tr>
        <th> Private </th>
        <th> <a href ="{% url 'fantasyworld:league_home' league.id %}">{{league.name}}</th>
        <th> ?? </th>
        <th> ?? </th>
        </tr>
      {% endif %}
    {% endfor %}  

  </tbody>
</table>

<br>


<a href= "{% url 'fantasyworld:league_create' leaguetype.id %}"> Or Create a New League </a>
<br>

{% endblock %}