{% extends 'fantasyworld/base.html' %}

{% block content %}

<h1>Fantasy {{ leaguetype.name }}</h1>



<h3> Public Leagues </h3>


<table class="table table-striped" style="margin-top: 5px;">
  <thead>
    <tr>
      <th scope="col">League </th>
      <th scope="col">Commissioner</th>
      <th scope="col">Number of Teams</th>
    </tr>
  </thead>
  <tbody>
    {% for league in leagues %}
      {% if league.is_public %}
        <tr>
        <th> <a href ="{% url 'fantasyworld:league_home' league.id %}">{{league.name}}</th>
        <th> Me </th>
        <th> 0 </th>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<br>

<h3> Private Leagues </h3>

<table class="table table-striped" style="margin-top: 5px;">
  <thead>
    <tr>
      <th scope="col">League </th>
    </tr>
  </thead>
  <tbody>
    {% for league in leagues %}
      {% if not league.is_public %}
        <tr>
        <th> <a href ="{% url 'fantasyworld:league_home' league.id %}">{{league.name}}</th>

        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<br>


<a href= "{% url 'fantasyworld:league_create' leaguetype.id %}"> Create a New League </a>
<br>
<a href="{% url 'fantasyworld:index' %}">Go Home </a>

{% endblock %}