{% extends 'fantasyworld/base.html' %}

{% block content %}

{% if team_league_dict %}
	<br>
	<h1> My Teams </h1>

	<table class="table table-striped" style="margin-top: 5px;">
		<thead>
			<tr>
				<th scope="col">Team</th>
				<th scope="col">League</th>

			</tr>
		</thead>
		<tbody>
			{% for team, league in team_league_dict.items %}
			<tr>

				<th> <a href = "{% url 'fantasyworld:team_home' team.id %}">{{team.team_name}} </th>

				<th> <a href = "{% url 'fantasyworld:league_home' team.league_session.league.id %}"> {{league}} </th>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</ul>
{% else %}
{% endif %}

{% endblock %}