{% extends 'fantasyworld/bases/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<br>

<h1>{{team.team_name}}</h1>
<br>
  <table class="table table-striped" style="margin-top: 5px;">
    <thead>
      <th scope="col">User </th>
      <th scope="col">{{team.user.user}}</a></th>
    </thead>
      <th scope="col">League </th>
      <th scope="col"><a href ="{% url 'fantasyworld:league_home' team.league_session.league.id %}">{{team.league_session.league.name}}</a></th>
    </thead>
  	<thead>
  		<th scope="col">Cash </th>
  		<th scope="col">{{team.budget}}</th>
  	</thead>
  	<thead>
  		<th scope="col">Portfolio Value </th>
  		<th scope="col">{{noncash_portfolio_value}}</th>
  	</thead>
  	<thead>
  		<th scope="col">Current Rank </th>
  		<th scope="col">1/2</th>
  	</thead>
  </table>
  <br>

 	<h3> Portfolio </h3>
  {% if teams_stocks %}
  <table class="table table-striped" style="margin-top: 5px;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Current Shares</th>
      </tr>
    </thead>
    <tbody>
      {% for stock, current_quantity in teams_stocks.items %}
        <tr>
        <th> <a href="{% url 'fantasyworld:stock_detail' stock.id %}"> {{stock.name}} </a> </th>
        <th> {{stock.price}} </th>
        <th> {{current_quantity}} </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}


{% endif %}


{% endblock %}