{% extends 'fantasyworld/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<br>

<h1>Team {{user}}</h1>
<h6><a href ="{% url 'fantasyworld:league_home' team.league_session.league.id %}">
{{team.league_session.league.name}}</a></h6>
<br>
  <table class="table table-striped" style="margin-top: 5px;">
  	<thead>
  		<th scope="col">Cash </th>
  		<th scope="col">{{team.budget}}</th>
  	</thead>
  	<thead>
  		<th scope="col">Portfolio Value </th>
  		<th scope="col">{{noncash_portfolio_value}}</th>
  	</thead>
  	<thead>
  		<th scope="col">Current Rank </th>
  		<th scope="col">1/2</th>
  	</thead>
  </table>
  <br>

 	<h3> Portfolio </h3>
  {% if teams_stocks %}
  <table class="table table-striped" style="margin-top: 5px;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Buy</th>
        <th scope="col">Sell</th>
        <th scope="col">Current Shares</th>
      </tr>
    </thead>
    <tbody>
      {% for stock, current_quantity in teams_stocks.items %}
        <tr>
        <th> {{stock.name}} </th>
        <th> {{stock.price}} </th>
        <th> <a href="{% url 'fantasyworld:buy_stock' stock.id %}">Buy</a> </th>
        <th> <a href="{% url 'fantasyworld:sell_stock' stock.id %}">Sell</a> </th>
        <th> {{current_quantity}} </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}


{% endif %}


{% endblock %}