{% extends 'fantasyworld/bases/teampage_header.html' %}

{% block teampage_header %}

{% if league.is_public or not league.is_public%}
  {% if not user_in_league %}

  <a href="{% url 'fantasyworld:league_join' league.id %}">Join League </a>

  {% endif%}
{% endif %}


<h1>{{team.team_name}}</h1>

 <h3> My Portfolio </h3>
 <br>
  <table class="table table-striped" style="margin-top: 5px;">
  	<thead>
  		<th scope="col">Cash </th>
  		<th scope="col">{{team.budget}}</th>
  	</thead>
  	<thead>
  		<th scope="col">Portfolio Value </th>
  		<th scope="col">{{noncash_portfolio_value}}</th>
  	</thead>
  	<thead>
  		<th scope="col">Current Rank </th>
  		<th scope="col">1/2</th>
  	</thead>
  </table>
  <br>
  
  {% if teams_stocks %}
  <table class="table table-striped" style="margin-top: 5px;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Type </th>
        <th scope="col">Current Shares</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for stock, current_quantity in teams_stocks.items %}
        <tr>
        <th> <a href="{% url 'fantasyworld:stock_detail' stock.id %}">{{stock.name}} </a></th>
        <th> {{stock.price}} </th>
        <th> {{stock.stock_type}} </th>
        <th> {{current_quantity}} </th>
        <th> <a href="{% url 'fantasyworld:buy_stock' stock.id %}">Buy</a> </th>
        <th> <a href="{% url 'fantasyworld:sell_stock' stock.id %}">Sell</a> </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}


{% endblock %}
